In [ ]:
import findspark
findspark.init('/usr/local/spark')

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="DF from RDD")

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SPARK DATAFRAMES AND SQL").getOrCreate()

In [ ]:
from pyspark.sql import Row

### 1. Creating an RDD and transforming it into Dataframe: Reflection Method

In [ ]:
clines = sc.textFile("customers.tsv")

In [ ]:
cfields = clines.map(lambda line : line.split("\t"))

In [ ]:
customers = cfields.map(lambda values : Row(cid=int(values[0]), cname=values[1], ccity=values[2], cstate=values[3], czip=values[4]))

In [ ]:
customers.take(5)

In [ ]:
cdf = spark.createDataFrame(customers)

In [ ]:
cdf.show()

### 2. Creating an RDD and transforming it into Dataframe: Programmatic Method

In [ ]:
customers2 = cfields.map(lambda values : (values[0], values[1], values[2], values[3], values[4]) )

In [ ]:
schema = "cid cname ccity cstate czip"

In [ ]:
from pyspark.sql.types import *
columns = [StructField(column_name, StringType()) for column_name in schema.split()]
columns

In [ ]:
finalschema = StructType(columns)
finalschema

In [ ]:
cdf2 = spark.createDataFrame(customers2,finalschema)

In [60]:
cdf2.show()

+-----+----------------+-------------+------+-----+
|  cid|           cname|        ccity|cstate| czip|
+-----+----------------+-------------+------+-----+
|11039|     Mary Torres|       Caguas|    PR|  725|
| 5623|      Jose Haley|     Columbus|    OH|43207|
| 5829|      Mary Smith|      Houston|    TX|77015|
| 6336|  Richard Maddox|       Caguas|    PR|  725|
| 1708|  Margaret Booth|    Arlington|    TX|76010|
|10227|  Mary Henderson|       Caguas|    PR|  725|
|  839|     Lisa Walker|       Caguas|    PR|  725|
| 7604|   Jonathan Hill|      Phoenix|    AZ|85040|
| 6485|Carolyn Sheppard|Pompano Beach|    FL|33063|
| 4737|    Mary Mendoza|       Caguas|    PR|  725|
| 5973|   Michael Smith|       Caguas|    PR|  725|
| 9205|    James Holmes|     Hilliard|    OH|43026|
|  138|     Mary Dawson|       Caguas|    PR|  725|
|  371|    Adam Marquez|  San Antonio|    TX|78223|
| 9285|    Gloria Smith|       Caguas|    PR|  725|
| 1209|       Mary Webb|   San Marcos|    TX|78666|
| 3021|  Nancy Alvarado|     Flushing|    NY|11354|
| 3354|  Russell Flores|       Caguas|    PR|  725|
|11684|    Denise Smith|    Rego Park|    NY|11374|
|11144|  Jose Dickerson|         Mesa|    AZ|85201|
+-----+----------------+-------------+------+-----+
only showing top 20 rows