In [ ]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = '--driver-class-path /usr/local/sqoop/lib/mysql-connector-java-5.1.47-bin.jar \
--jars /usr/local/sqoop/lib/mysql-connector-java-5.1.47/mysql-connector-java-5.1.47-bin.jar pyspark-shell'

In [ ]:
import findspark
findspark.init('/usr/local/spark')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySpark MySQL JDBC example1").getOrCreate()

In [ ]:
df_mysql1 = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost/").option("dbtable", "trgdb.cctab").\
option("user", "root").option("password", "root").load()

In [ ]:
df_mysql1.show()

In [ ]:
df_mysql1.count()

In [ ]:
df_mysql1.printSchema()